/cache/tickets*
/pld/AlternateBlue/*
/pld/Default/*
/pld/Dynamic/*
/pld/dynamic_myAdmin/*
/pld/hyperLAB.db3
/pld/Modern/*
/pld/phpliteadmin.config.php
/pld/phpliteadmin.css
/pld/phpliteadmin.php
/pld/README.txt
/pld/Retro/*
/pld/Sheep/*
/pld/simpleGray/*
/pld/SoftieBlue/*
/pld/Stencil/*
/pld/Ugur3d/*
 
